{% extends "template.html"%}
{% block conteudo %}
        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>Nome</th>
                    <th>Categoria</th>
                    <th>Console</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for jogo in jogos %} <!--Testar a criação dos botoes para cada jogo-->
               <main class="container">
                    <tr>
                        <td><a class="nav-link" href="{{ url_for('info', id=jogo.id) }}">{{ jogo.nome }}</a></td>

                        <td>{{ jogo.categoria }}</td>
                        <td>{{ jogo.console }}</td>
                        <td><a href="{{ url_for('editar', id=jogo.id) }}">Editar</a></td> <!--Corrigir a opção de editar o jogo quando não logado!!-->
                        <td><a href="{{ url_for('deletar', id=jogo.id) }}">Deletar</a></td>
                    </tr>
                {% endfor %}
                </main>
            </tbody>
        </table>

        <div class="container-video">
            <p> Lançado em 2020, o <strong>Playstation 5</strong> nos traz alguns dos visuais mais impressionantes dos jogos. Mesmo que ainda no inico de sua geração. É um console grande, porém silencioso e com uma velocidade no loading de seus jogos impecável. O PlayStation 5 é extramente veloz, e é exatamente o que esta geração precisa para brilhar. Tanto na interface, quanto nos jogos next-gen, o acesso é bem rápido. Levam poucos segundos entre iniciar um jogo, passar pelo menu inicial e entrar no gameplay.</p>

            <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/8MUqoCPixQY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

    <div class="container-video">
            <p> <strong>Nintendo Switch</strong> foi um dos consoles mais inovadores já lançado. O Nintendo Switch permite aos jogadores utilizá-lo tanto como um videogame portátil, quanto um console convencional, que pode ser ligado na TV. Além disso, você também pode remover os controles laterais do Switch e colocar a tela sobre uma mesa para jogar. </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ADaRsEhTB70" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
{% endblock %}
