{% extends "template.html"%}
{% block conteudo %}
     <main class="caixa">

      <form action="{{ url_for('criar') }}" method="post" enctype="multipart/form-data">
        <figure class="thumb col-md-4">
          <img class="img-responsive" src="{{ url_for('imagem', nome_arquivo='capa_padrao.jpg') }}">
          <figcaption>
            <label class="fileContainer">
               Mudar capa
               <input type="file" name="arquivo" accept=".jpg">
            </label>
          </figcaption>
        </figure>

        <fieldset>
          <div class="form-group">
            <label for="nome" class="col-form-label">Nome</label>
            <input type="text" id="nome" name="nome" class="form-control" placeholder="Battlefield 4, Fifa 20..." required>
          </div>

          <div class="form-group">
            <label for="categoria" class="col-form-label">Categoria</label>
            <input type="text" id="categoria" name="categoria" class="form-control" placeholder="FPS, Moba, Arcade..." required>
          </div>

          <div class="form-group">
            <label for="console" class="col-form-label">Console</label>
            <input type="text" id="console" name="console" class="form-control" placeholder="PS4, PS5, Xbox 360, Switch..." required>
          </div>

          <div class="form-group"> <!--SALVAR A CRITICA NUMA VARIAVEL-->
            <label for="critica" class="col-form-label">Critica:</label>
            <textarea id="critica" name="critica" class="form-control" rows="5" cols="30" placeholder="Please sign in or create an account before writing a review."></textarea>
          </div>

            <button type="submit" class="btn btn-primary">Salvar</button>
            <a class="btn btn-danger" href="{{ url_for('index') }}">Voltar</a>

        </fieldset>
      </form>
     </main>
{% endblock %}
